/****	styles pour les menus #C60017****/
body {
	background-color: white;
	margin: 0px;
	padding: 10px;
	font-family: sans-serif;
}

a {
	color: #C60017;
}


h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #C60017;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-size: large;
	text-align: center;
}


.bookmark { 
	float: left;
	width: 23%;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

.bookmark span { 
	font-size: x-small;
 }

.photo img { 
	border: none;
 }


.pair {
	 background-color: #D4C0C2;
}

.impair {
	 background-color: #D4D0D2;
}

/* = = = = = = = = = = = = = =
	 Formulaires
	 = = = = = = = = = = = = = = */

input, textarea { 
	border: 1px solid black;
	padding: 2px;
	font-size: 10pt;
	background-color: #D4C0C2;
	font-family: Verdana, Arial, sans-serif;	
 }

form div { 
	clear: both;
	padding: 5px;
}

form div > span { 
	float: left;
	width: 30%;
	text-align: right;
}

form div span+span { 
	float: left;
	width: 65%;
	text-align: left;
	padding-left: 20px;
}


input[type="checkbox"] { 
	margin-right: 10px;
}

input[type="text"], textarea { 
	width: 60%;
}

.submit { 
	text-align: center;
}

/* *************************************
		 gestion de la mise en page
***************************************** */


#header { 
	padding: 5px 140px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 2.5em;
	height: 90px; 
	line-height: 90px;
	border: 1px solid black;
	background: url("../../ui/images/flowerLogo.jpg") left center no-repeat;
	color: #C60017;
 }

#footer { 
	padding: 5px;
	text-align: center;
	margin: auto;
	font-size: 0.7em;
}


.clearer { 
	clear: both;
	height: 0px;
}